*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, blue, red);
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 20pt;
    border: 1px solid white;
    outline: none;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
}

.calculator-grid > button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
}
.calculator-grid > button:active{
    background-color: rgba(252, 248, 248, 0.1);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(255, 255, 255, 0.817);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(0, 0, 0, 0.537);
    font-size: 12pt;
}
.output .current-operand{
    color: black;
    font-size: 30pt;
}